*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
   background-color: #000000fc;
   color: rgb(213, 143, 143);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items:center;
}

.container{
    border: 2px solid rgb(217, 173, 228);
    gap: 50px;
    margin: 20px;
    padding:40px;
}

button{
    border-radius: 20px;
    width: 100px;
    margin: 20px;
    padding: 5px;
    background-color: rgba(148, 90, 90, 0.855);
    color: antiquewhite;
}